html {
    background-color: #ffc;
}

body {
    background-color: #ddd;
    width: 1000px;
    margin: 8px auto;
    border: 1px solid black;
}

.site-header {
    background-color: #292A2E;
    color: white;
    overflow: auto;
}

.site-header img {
    float: left;
}

.site-title {
    display: block;
    padding-top: 1em;
    padding-left: 50px;
    font-size: 46px;
    overflow: auto;
}

.site-slogan {
    display: block;
    padding-left: 50px;
    font-style: italic;
    font-size: 28px;
    overflow: auto;
}

.site-footer {
    height: 70px;
    margin-top: 10px;
}

.me {
    width: 450px;
    margin-right: 20px;
    float: left;
}

.navbar {
    padding: 1em;
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.navbar a {
    background-color: #eee;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #999;
    text-decoration: none;
    color: #000;
}

.navbar a:hover {
    background-color: #000;
    color: #fff;
}

.byline {
    padding: 5px;
    border-top: 1px solid black;
    overflow: auto;
}

.byline img {
    float: left;
    margin-right: 10px;
}

.byline p {
    margin-top: 0;
}

article {
    padding: 10px;
}

article > header {
    text-align: center;
}

main {
    min-height: 30em;
}

.author {
    font-size: 15px;
    font-style: italic;
}

.center {
    text-align: center;
}
