html {
    background-color: #9c9;
}

.me {
    width: 400px;
}

body {
    margin: 8px auto;
    padding: 8px;
    width: 980px;
    background-color: #eee;
    border-radius: 10px;
}

.site-header {
    background-color: #fff;
    overflow: auto; /* clear fix */
}

.site-header img {
    float: left;
}

.site-title {
    display: block;
    padding-top: 1em;
    padding-left: 50px;
    font-size: 32px;
    overflow: auto;
}

.site-slogan {
    display: block;
    padding-left: 50px;
    font-style: italic;
    overflow: auto;
}

.navbar {
    padding: 1em;
    background-color: #fff;
    border-top: 1px solid #9c9;
}

.navbar a {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #999;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #eee;
    text-decoration: underline;
}

.right {
    float: right;
}

figcaption {
    font-style: italic;
}
